<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/Style.css">
        <title>Agregar Usuarios</title>
    </head>
    <body>
        <!-- Se valida que el par치metro de usuarios no sea indefinido -->
        <% if(typeof users === 'undefined'){ %>
        <% }else{ %>       
            <div class="todo">
                <!-- Se selecciona cada usuario que se puede agregar como participante a un chat -->
                <% for(agregar of idChatAgregar){ %>
                    <h1 class="tituloAgregar">Agregar participantes a <%= agregar.NombreChat %></h1>
                    <% break; %>
                <% }; %>
                <!-- Se seleccionan los datos de los usuarios que pueden ser agregados a un chat -->
                <% for(user of users){ %>
                    <div class="usuarioAgregar">
                        <div class="usuarioAgregar2">
                            <!-- Se despliegan los nombres y correos de los usuarios -->
                            <h1 class="textoAgregar">Nombre: <%= user.Nombre %></h1>
                            <h1 class="textoAgregar">Email: <%= user.Correo %></h1>
                        </div>
                        <!-- Se despliega un boto칩n para mandar la informaci칩n del usuario que se desea agregar al chat -->
                        <% for(agregar of idChatAgregar){ %>
                            <form action="/agregarUsuario/<%= agregar.IdChat %>/<%= user.IdUsuario %>" method="post" class="agregar">
                            <button type="submit" class="botonAgregar">Agregar</button>
                            </form>
                            <% break; %>
                        <% }; %>
                    </div>
                <% }; %>
                <!-- Redireccionamiento a la p치gina principal del usuario actual, donde tiene todos los chats -->
                <div class="regresar3">
                    <a href="/ExpressChat" class="regresarGrupo">Listo</a>
                </div><br>
            </div>
        <% } %>
    </body>
</html>